


@mixin mobile {
    @media  screen and (max-width:768px) {
        @content
        
    }
    
};
@mixin textAlign($pos) {
    text-align: $pos;
};
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
};
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow:inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
};
@mixin centerAbs($pos) {
 position: absolute;
 @if $pos == "both" {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 } @else if $pos == "left" {
  left: 50%;
  transform: translateX(-50%);
 } @else if $pos == "top" {
  top: 50%;
  transform: translateY(-50%);
 }
};
@mixin flex($direction, $content , $items, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
};
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
};